---
layout: default
---

<div align="left" style="width: 180%;">
  
  <h2><strong>Abstract</h2>
  <body>
  TBA.
  </body>
  <br>  
  
  <h2><strong>Text-to-Speech Demo</h2>
  
  <body>
      Below, we provide TTS samples depending on the datasets and TTS scenarios. 
      <br>
    
      <ul>
          <li>1. Multi-speaker (VCTK) - Expressive TTS</li>
          <li>2. Emotional multi-speaker (ESD) - Expressive TTS</li>
          <li>3. Single speaker (LJSpeech) - General TTS</li>
          <li>4. Multi-speaker (VCTK) - General TTS</li>
	  <li>5. Additional samples </li>
          
        
      </ul>    
   
  <br>
  <h3><strong>1. Multi-speaker (VCTK) - Expressive TTS </h3>
  <hr>
  <h4><strong>1.1) Seen speaker scenarios :</h4>
    
  <p><b>Text: </b><i>The game is now open.</i></p>
  <p><b>Reference Speaker: </b><i>p279</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>Reference</th>
  					<th>DEX-TTS</th>
  					<th>MetaStyleSpeech</th>
					<th>StyleTTS</th>
  					<th>YourTTS</th>
  					<th>GenerSpeech</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.1.1)-Reference.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.1.1)-DEX-TTS.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.1.1)-MetaStyleSpeech.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.1.1)-StyleTTS.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.1.1)-YourTTS.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.1.1)-GenerSpeech.wav"></audio></td>
				  </tr>
				</tbody>
  </table>
	  
  <p><b>Text: </b><i>He also insisted that no concessions had been made to the French.</i></p>
  <p><b>Reference Speaker: </b><i>p300</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>Reference</th>
  					<th>DEX-TTS</th>
  					<th>MetaStyleSpeech</th>
					<th>StyleTTS</th>
  					<th>YourTTS</th>
  					<th>GenerSpeech</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.1.2)-Reference.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.1.2)-DEX-TTS.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.1.2)-MetaStyleSpeech.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.1.2)-StyleTTS.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.1.2)-YourTTS.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.1.2)-GenerSpeech.wav"></audio></td>
				  </tr>
				</tbody>
  </table>
    
  <br>
  
  <h4><strong>1.2) Unseen speaker scenarios:</h4>

  <p><b>Text: </b><i>It was like a scene from the Holocaust.</i></p>
  <p><b>Reference Speaker: </b><i>p271</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>Reference</th>
  					<th>DEX-TTS</th>
  					<th>MetaStyleSpeech</th>
					<th>StyleTTS</th>
  					<th>YourTTS</th>
  					<th>GenerSpeech</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.2.1)-Reference.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.2.1)-DEX-TTS.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.2.1)-MetaStyleSpeech.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.2.1)-StyleTTS.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.2.1)-YourTTS.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.2.1)-GenerSpeech.wav"></audio></td>
				  </tr>
				</tbody>
  </table>

  <p><b>Text: </b><i>He said no survivors had been found.</i></p>
  <p><b>Reference Speaker: </b><i>p336</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>Reference</th>
  					<th>DEX-TTS</th>
  					<th>MetaStyleSpeech</th>
					<th>StyleTTS</th>
  					<th>YourTTS</th>
  					<th>GenerSpeech</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.2.2)-Reference.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.2.2)-DEX-TTS.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.2.2)-MetaStyleSpeech.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.2.2)-StyleTTS.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.2.2)-YourTTS.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/1.2.2)-GenerSpeech.wav"></audio></td>
				  </tr>
				</tbody>
  </table>
	  
  <br>

  <h3><strong>2. Emotional multi-speaker (ESD) - Expressive TTS </h3>
  <hr>
  <h4><strong>2.1) Seen speaker scenarios :</h4>
    
  <p><b>Text: </b><i>I suppose no, it doesn't!</i></p>
  <p><b>Reference Speaker & Emotion: </b><i>0012_Surprise</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>Reference</th>
  					<th>DEX-TTS</th>
  					<th>MetaStyleSpeech</th>
					<th>StyleTTS</th>
  					<th>YourTTS</th>
  					<th>GenerSpeech</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.1.1)-Reference.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.1.1)-DEX-TTS.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.1.1)-MetaStyleSpeech.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.1.1)-StyleTTS.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.1.1)-YourTTS.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.1.1)-GenerSpeech.wav"></audio></td>
				  </tr>
				</tbody>
  </table>

  <p><b>Text: </b><i>Over them swooped the eagles.</i></p>
  <p><b>Reference Speaker & Emotion: </b><i>0016_Sad</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>Reference</th>
  					<th>DEX-TTS</th>
  					<th>MetaStyleSpeech</th>
					<th>StyleTTS</th>
  					<th>YourTTS</th>
  					<th>GenerSpeech</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.1.2)-Reference.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.1.2)-DEX-TTS.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.1.2)-MetaStyleSpeech.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.1.2)-StyleTTS.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.1.2)-YourTTS.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.1.2)-GenerSpeech.wav"></audio></td>
				  </tr>
				</tbody>
  </table>

  <p><b>Text: </b><i>I don't paint a tiger.</i></p>
  <p><b>Reference Speaker & Emotion: </b><i>0015_Angry</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>Reference</th>
  					<th>DEX-TTS</th>
  					<th>MetaStyleSpeech</th>
					<th>StyleTTS</th>
  					<th>YourTTS</th>
  					<th>GenerSpeech</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.1.3)-Reference.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.1.3)-DEX-TTS.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.1.3)-MetaStyleSpeech.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.1.3)-StyleTTS.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.1.3)-YourTTS.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.1.3)-GenerSpeech.wav"></audio></td>
				  </tr>
				</tbody>
  </table>
	  
  <h4><strong>2.2) Unseen speaker scenarios:</h4>

  <p><b>Text: </b><i>Mum shuts one's mouth up, doesn't it.</i></p>
  <p><b>Reference Speaker & Emotion: </b><i>0018_Neutral</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>Reference</th>
  					<th>DEX-TTS</th>
  					<th>MetaStyleSpeech</th>
					<th>StyleTTS</th>
  					<th>YourTTS</th>
  					<th>GenerSpeech</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.2.1)-Reference.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.2.1)-DEX-TTS.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.2.1)-MetaStyleSpeech.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.2.1)-StyleTTS.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.2.1)-YourTTS.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.2.1)-GenerSpeech.wav"></audio></td>
				  </tr>
				</tbody>
  </table>

  <p><b>Text: </b><i>Clear are your eyes and bright your breath!</i></p>
  <p><b>Reference Speaker & Emotion: </b><i>0011_Angry</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>Reference</th>
  					<th>DEX-TTS</th>
  					<th>MetaStyleSpeech</th>
					<th>StyleTTS</th>
  					<th>YourTTS</th>
  					<th>GenerSpeech</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.2.2)-Reference.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.2.2)-DEX-TTS.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.2.2)-MetaStyleSpeech.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.2.2)-StyleTTS.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.2.2)-YourTTS.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.2.2)-GenerSpeech.wav"></audio></td>
				  </tr>
				</tbody>
  </table>

  <p><b>Text: </b><i>Fur flew through the air, teeth gnashed.</i></p>
  <p><b>Reference Speaker & Emotion: </b><i>0018_Happy</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>Reference</th>
  					<th>DEX-TTS</th>
  					<th>MetaStyleSpeech</th>
					<th>StyleTTS</th>
  					<th>YourTTS</th>
  					<th>GenerSpeech</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.2.3)-Reference.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.2.3)-DEX-TTS.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.2.3)-MetaStyleSpeech.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.2.3)-StyleTTS.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.2.3)-YourTTS.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/2.2.3)-GenerSpeech.wav"></audio></td>
				  </tr>
				</tbody>
  </table>
	  
  <br>

  <h3><strong>3. Single speaker (LJSpeech) - General TTS </h3>
  <hr>

  <p><b>Text: </b><i>GeDEX TTS is the general TTS version of the diffusion-based expressive TTS model.</i></p>
  <audio controls="" preload="none"><source src="samples/demo/GE-TTS-LJSpeech/3.0)-GeDEX-TTS.wav"></audio>
	  
  <p><b>Text: </b><i>To inquire into and report upon the several jails and houses of correction in the counties, cities, and corporate towns within England and Wales.</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
  					<th>GeDEX-TTS</th>
  					<th>FastSpeech2</th>
  					<th>Grad-TTS</th>
				        <th>ComoSpeech</th>

				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-LJSpeech/3.1)-GT.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-LJSpeech/3.1)-GeDEX-TTS.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-LJSpeech/3.1)-FastSpeech2.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-LJSpeech/3.1)-Grad-TTS.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-LJSpeech/3.1)-ComoSpeech.wav"></audio></td>

				  </tr>
				</tbody>
  </table>

  <p><b>Text: </b><i>Since there was no background to the New Orleans FPCC, quote, organization, end quote, which consisted solely of Oswald.</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
  					<th>GeDEX-TTS</th>
  					<th>FastSpeech2</th>
  					<th>Grad-TTS</th>
				        <th>ComoSpeech</th>

				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-LJSpeech/3.2)-GT.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-LJSpeech/3.2)-GeDEX-TTS.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-LJSpeech/3.2)-FastSpeech2.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-LJSpeech/3.2)-Grad-TTS.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-LJSpeech/3.2)-ComoSpeech.wav"></audio></td>

				  </tr>
				</tbody>
  </table>
	  
	  
  <h3><strong>4. Multi-speaker (VCTK) - General TTS </h3>
  <hr>
	  
  <p><b>Text: </b><i>They have now been banned from Celtic Park for life.</i></p>
  <p><b>Speaker: </b><i>p273</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
  					<th>GeDEX-TTS</th>
  					<th>FastSpeech2</th>
  					<th>Grad-TTS</th>
				        <th>ComoSpeech</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-VCTK/4.1)-GT.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-VCTK/4.1)-GeDEX-TTS.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-VCTK/4.1)-FastSpeech2.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-VCTK/4.1)-Grad-TTS.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-VCTK/4.1)-ComoSpeech.wav"></audio></td>
				  </tr>
				</tbody>
  </table>
	  
  <p><b>Text: </b><i>He will be a very hard act to follow.</i></p>
  <p><b>Speaker: </b><i>p280</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
  					<th>GeDEX-TTS</th>
  					<th>FastSpeech2</th>
  					<th>Grad-TTS</th>
				        <th>ComoSpeech</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-VCTK/4.2)-GT.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-VCTK/4.2)-GeDEX-TTS.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-VCTK/4.2)-FastSpeech2.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-VCTK/4.2)-Grad-TTS.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-VCTK/4.2)-ComoSpeech.wav"></audio></td>
				  </tr>
				</tbody>
  </table>

	  
  <h3><strong>5. Additional samples </h3>
  <hr>

  <h4><strong>5.1) Unseen emotion scenarios: The following samples are synthesized by DEX-TTS without the model being trained on the emotional category of the reference. </h4>
  <p><b>Text: </b><i>And his heart wagged with joy like a lamb's tail.</i></p>
  <p><b>Reference Speaker & Emotion: </b><i>0017_Sad</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>Reference</th>
  					<th>DEX-TTS</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/5.1.1)-Reference.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/5.1.1)-DEX-TTS.wav"></audio></td>
				  </tr>
				</tbody>
  </table>
	  
  <p><b>Text: </b><i>From August eighteenth, of their divorce.</i></p>
  <p><b>Reference Speaker & Emotion: </b><i>0014_Surprise</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>Reference</th>
  					<th>DEX-TTS</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/5.1.2)-Reference.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/5.1.2)-DEX-TTS.wav"></audio></td>
				  </tr>
				</tbody>
  </table>
	  
  <p><b>Text: </b><i>A tick a tack too.</i></p>
  <p><b>Reference Speaker & Emotion: </b><i>0012_Angry</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>Reference</th>
  					<th>DEX-TTS</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/5.1.3)-Reference.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/5.1.3)-DEX-TTS.wav"></audio></td>
				  </tr>
				</tbody>
  </table>

  <p><b>Text: </b><i>She has a high voice.</i></p>
  <p><b>Reference Speaker & Emotion: </b><i>0013_Happy</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>Reference</th>
  					<th>DEX-TTS</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/5.1.4)-Reference.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/5.1.4)-DEX-TTS.wav"></audio></td>
				  </tr>
				</tbody>
  </table>

  <p><b>Text: </b><i>Enough, you a foolish chatter.</i></p>
  <p><b>Reference Speaker & Emotion: </b><i>0019_Surprise</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>Reference</th>
  					<th>DEX-TTS</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/5.1.5)-Reference.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/5.1.5)-DEX-TTS.wav"></audio></td>
				  </tr>
				</tbody>
  </table>

  <br>

  <h4><strong>5.2) Samples for the paper:  We provide samples corresponding to the visualization results in the paper.</h4>
  <p><b>Text: </b><i>Goat Billy asked the old Chinese guy.</i></p>
  <p><b>Reference Speaker & Emotion: </b><i>0012_Happy</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>Reference</th>
  					<th>DEX-TTS</th>


				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/5.2.1)-Reference.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/5.2.1)-DEX-TTS.wav"></audio></td>


				  </tr>
				</tbody>
  </table>
  <br> 

  <p><b>Text: </b><i>He dreamt them all night</i></p>
  <p><b>Reference Speaker & Emotion: </b><i>0012_Neutral</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>Reference</th>
  					<th>DEX-TTS</th>


				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/5.2.2)-Reference.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-ESD/5.2.2)-DEX-TTS.wav"></audio></td>


				  </tr>
				</tbody>
  </table>
  <br> 

  <h4><strong>5.3) Samples depending on NFE: We provide samples based on the number of function evaluations (10, 25, 50) for the VCTK and LJSpeech datasets.</h4>
  <p><b>Text: </b><i>There were no proposals on the table.</i></p>
  <p><b>Reference Speaker: </b><i>p300</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>Reference</th>
  					<th>DEX-TTS-10</th>
					<th>DEX-TTS-25</th>
					<th>DEX-TTS-50</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/5.3.1)-Reference.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/5.3.1)-DEX-TTS-10.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/5.3.1)-DEX-TTS-25.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/EXP-TTS-VCTK/5.3.1)-DEX-TTS-50.wav"></audio></td>
				  </tr>
				</tbody>
  </table>
  <p><b>Text: </b><i>Paying particular attention to the crowd for any unusual activity.</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
  					<th>GeDEX-TTS-10</th>
					<th>GeDEX-TTS-25</th>
					<th>GeDEX-TTS-50</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-LJSpeech/5.3.2)-GT.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-LJSpeech/5.3.2)-GeDEX-TTS-10.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-LJSpeech/5.3.2)-GeDEX-TTS-25.wav"></audio></td>
					<td><audio controls="" preload="none"><source src="samples/demo/GE-TTS-LJSpeech/5.3.2)-GeDEX-TTS-50.wav"></audio></td>
				  </tr>
				</tbody>
  </table>
  <br> 
	  
  <br>
  Thanks for your interest!
  </body>
  
</div>
