---
layout: default
---

<div align="left" style="width: 180%;">
  
  <h2><strong>Abstract</h2>
  <body>
  TBA
  </body>
  <br>  
  
  <h2><strong>Text-to-Speech Demo</h2>
  
  <body>
      Below, we provide TTS samples depending on the datasets:
      <br>
    
      <ul>
          <li>1. Single speaker (LJSpeech) </li>
          <li>2. Multi-speaker (VCTK) </li>
	  <li>3. Additional samples </li>
      </ul>    
   
  <br>
  <h3><strong>1. Single speaker (LJSpeech) </h3>
  <hr>

  <p><b>Text: </b><i>TTS is the general TTS version of the diffusion-based TTS model.</i></p>
  <audio controls="" preload="none"><source src="samples/demo/GE-TTS-LJSpeech/3.0)-GeDEX-TTS.wav"></audio>
	  
  <p><b>Text: </b><i>Text.</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
					<th>FastSpeech2</th>
					<th>Proposed</th>
  					<th>Grad-TTS</th>
					<th>Comospeech</th>
				        <th>Matcha-TTS</th>
					<th>VoiceFlow</th>

				  </tr>
  				<tr>
  					<td>
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GT.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 1
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GT.wav">
						</audio>
					</td>
  					<td> NFE - 2
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GeDEX-TTS.wav">
						</audio> NFE - 10
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GeDEX-TTS.wav">
						</audio>
					</td>
  					<td> NFE - 2
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GeDEX-TTS.wav">
						</audio> NFE - 10
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GeDEX-TTS.wav">
						</audio>
					</td>
  					<td> NFE - 2
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GeDEX-TTS.wav">
						</audio> NFE - 10
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GeDEX-TTS.wav">
						</audio>
					</td>
  					<td> NFE - 2
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GeDEX-TTS.wav">
						</audio> NFE - 10
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GeDEX-TTS.wav">
						</audio>
					</td>
  					<td> NFE - 2
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GeDEX-TTS.wav">
						</audio> NFE - 10
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GeDEX-TTS.wav">
						</audio>
					</td>
				  </tr>
				</tbody>
  </table>

  <br>	  
  <h3><strong>2. Multi-speaker (VCTK) </h3>
  <hr>
	  
  <p><b>Text: </b><i>They have now been banned from Celtic Park for life.</i></p>
  <p><b>Speaker: </b><i>p273</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
					<th>Baseline</th>
					<th>Proposed</th>

				  </tr>
  				<tr>
  					<td>
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GT.wav">
						</audio>
					</td>
  					<td> NFE - 2
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GeDEX-TTS.wav">
						</audio> NFE - 10
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GeDEX-TTS.wav">
						</audio>
					</td>
  					<td> NFE - 2
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GeDEX-TTS.wav">
						</audio> NFE - 10
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GeDEX-TTS.wav">
						</audio>
					</td>
				  </tr>
				</tbody>
  </table>

  <br>
  <h3><strong>3. Additional samples on the LJSpeech dataset </h3>
  <hr>

  <p><b>Text: </b><i>And his heart wagged with joy like a lamb's tail.</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
					<th>Baseline</th>
					<th>Proposed (w/o improved)</th>
  					<th>Proposed</th>
				  </tr>
  				<tr>
  					<td>
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GT.wav">
						</audio>
					</td>
  					<td> NFE - 2
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GeDEX-TTS.wav">
						</audio> NFE - 10
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GeDEX-TTS.wav">
						</audio>
					</td>
  					<td> NFE - 2
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GeDEX-TTS.wav">
						</audio> NFE - 10
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GeDEX-TTS.wav">
						</audio>
					</td>
  					<td> NFE - 2
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GeDEX-TTS.wav">
						</audio> NFE - 10
						<audio controls="" preload="none">
							<source src="samples/demo/GE-TTS-LJSpeech/3.1)-GeDEX-TTS.wav">
						</audio>
					</td>
				  </tr>
				</tbody>
  </table>
	  
	  
  <br>
  Thanks for your interest!
  </body>
  
</div>
