---
layout: default
---

<div align="left" style="width: 210%;">
  
  <h2><strong>Abstract</h2>
  <body>
  TBA
  </body>
  <br>  
  
  <h2><strong>Text-to-Speech Demo</h2>
  
  <body>
      Below, we provide TTS samples depending on the datasets:
      <br>
    
      <ul>
          <li>1. Single speaker (LJSpeech) </li>
          <li>2. Multi-speaker (VCTK) </li>
	  <li>3. Additional samples </li>
      </ul>    
      Note that <sup>&dagger;</sup> indicates that improved techniques are applied for RapFlow-TTS.
   
  <br>
	  
  <h3><strong>1. Single speaker (LJSpeech) </h3>
  <hr>

  <p><b>Text: </b><i>RapFlow TTS is a TTS model using improved consistency flow matching, and it can synthesize high-quality speech with fewer steps.</i></p>
  <audio controls="" preload="none"><source src="samples/ljspeech/rap_intro_2step.wav"></audio>
	  
  <p><b>Text: </b><i>The forms of printed letters should be beautiful, and that their arrangement on the page should be reasonable and a help to the shapeliness of the letters themselves.</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
					<th>RapFlow-TTS</th>
					<th>RapFlow-TTS<sup>&dagger;</sup></th>
					<th>FastSpeech2</th>
					<th>Comospeech</th>
  					<th>Grad-TTS</th>
				        <th>Matcha-TTS</th>
					<th>VoiceFlow</th>

				  </tr>
  				<tr>
  					<td>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ001-0015-GT.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 2
							<source src="samples/ljspeech/0_LJ001-0015-Rap-Stage2-NS2-2.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 2
							<source src="samples/ljspeech/0_LJ001-0015-Rap-Improved-NS2-2.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 1
							<source src="samples/ljspeech/0_LJ001-0015-FS2-Re-1.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 2
							<source src="samples/ljspeech/0_LJ001-0015-Como-Student-2.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ001-0015-Grad-2000-2.wav">
						</audio> 
						<br>
						NFE - 25
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ001-0015-Grad-2000-25.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ001-0015-Matcha-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ001-0015-Matcha-10.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ001-0015-VF-Reflow-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ001-0015-VF-Reflow-10.wav">
						</audio>
					</td>
				  </tr>
				</tbody>
  </table>
  <br>	 

  <p><b>Text: </b><i>And report at length upon the condition of the prisons of the country.</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
					<th>RapFlow </th>
					<th>Proposed</th>
					<th>FastSpeech2</th>
					<th>Comospeech</th>
  					<th>Grad-TTS</th>
				        <th>Matcha-TTS</th>
					<th>VoiceFlow</th>

				  </tr>
  				<tr>
  					<td>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ005-0099-GT.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 2
							<source src="samples/ljspeech/0_LJ005-0099-Rap-Stage2-NS2-2.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 2
							<source src="samples/ljspeech/0_LJ005-0099-Rap-Improved-NS2-2.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 1
							<source src="samples/ljspeech/0_LJ005-0099-FS2-Re-1.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 2
							<source src="samples/ljspeech/0_LJ005-0099-Como-Student-2.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ005-0099-Grad-2000-2.wav">
						</audio> 
						<br>
						NFE - 25
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ005-0099-Grad-2000-25.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ005-0099-Matcha-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ005-0099-Matcha-10.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ005-0099-VF-Reflow-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ005-0099-VF-Reflow-10.wav">
						</audio>
					</td>
				  </tr>
				</tbody>
  </table>
  <br>	 

  <p><b>Text: </b><i>One of the earliest of the big operators in fraudulent finance was Edward Beaumont Smith.</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
					<th>RapFlow </th>
					<th>Proposed</th>
					<th>FastSpeech2</th>
					<th>Comospeech</th>
  					<th>Grad-TTS</th>
				        <th>Matcha-TTS</th>
					<th>VoiceFlow</th>

				  </tr>
  				<tr>
  					<td>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ013-0005-GT.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 2
							<source src="samples/ljspeech/0_LJ013-0005-Rap-Stage2-NS2-2.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 2
							<source src="samples/ljspeech/0_LJ013-0005-Rap-Improved-NS2-2.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 1
							<source src="samples/ljspeech/0_LJ013-0005-FS2-Re-1.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 2
							<source src="samples/ljspeech/0_LJ013-0005-Como-Student-2.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ013-0005-Grad-2000-2.wav">
						</audio> 
						<br>
						NFE - 25
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ013-0005-Grad-2000-25.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ013-0005-Matcha-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ013-0005-Matcha-10.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ013-0005-VF-Reflow-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ013-0005-VF-Reflow-10.wav">
						</audio>
					</td>
				  </tr>
				</tbody>
  </table>
  <br>	 

  <p><b>Text: </b><i>Break apart from one another and pile on a plate, throwing a clean doily or a small napkin over them. Break open at table.</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
					<th>RapFlow </th>
					<th>Proposed</th>
					<th>FastSpeech2</th>
					<th>Comospeech</th>
  					<th>Grad-TTS</th>
				        <th>Matcha-TTS</th>
					<th>VoiceFlow</th>

				  </tr>
  				<tr>
  					<td>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ020-0085-GT.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 2
							<source src="samples/ljspeech/0_LJ020-0085-Rap-Stage2-NS2-2.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 2
							<source src="samples/ljspeech/0_LJ020-0085-Rap-Improved-NS2-2.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 1
							<source src="samples/ljspeech/0_LJ020-0085-FS2-Re-1.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 2
							<source src="samples/ljspeech/0_LJ020-0085-Como-Student-2.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ020-0085-Grad-2000-2.wav">
						</audio> 
						<br>
						NFE - 25
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ020-0085-Grad-2000-25.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ020-0085-Matcha-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ020-0085-Matcha-10.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ020-0085-VF-Reflow-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ020-0085-VF-Reflow-10.wav">
						</audio>
					</td>
				  </tr>
				</tbody>
  </table>
  <br>	 

  <p><b>Text: </b><i>From the Presidential airplane, the Vice President telephoned Attorney General Robert F. Kennedy.</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
					<th>RapFlow </th>
					<th>Proposed</th>
					<th>FastSpeech2</th>
					<th>Comospeech</th>
  					<th>Grad-TTS</th>
				        <th>Matcha-TTS</th>
					<th>VoiceFlow</th>

				  </tr>
  				<tr>
  					<td>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ031-0185-GT.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 2
							<source src="samples/ljspeech/0_LJ031-0185-Rap-Stage2-NS2-2.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 2
							<source src="samples/ljspeech/0_LJ031-0185-Rap-Improved-NS2-2.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 1
							<source src="samples/ljspeech/0_LJ031-0185-FS2-Re-1.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 2
							<source src="samples/ljspeech/0_LJ031-0185-Como-Student-2.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ031-0185-Grad-2000-2.wav">
						</audio> 
						<br>
						NFE - 25
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ031-0185-Grad-2000-25.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ031-0185-Matcha-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ031-0185-Matcha-10.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ031-0185-VF-Reflow-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ031-0185-VF-Reflow-10.wav">
						</audio>
					</td>
				  </tr>
				</tbody>
  </table>
  <br>	 
	  
  <p><b>Text: </b><i>Might have been more alert in the Dallas motorcade if they had retired promptly in Fort Worth.</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
					<th>RapFlow </th>
					<th>Proposed</th>
					<th>FastSpeech2</th>
					<th>Comospeech</th>
  					<th>Grad-TTS</th>
				        <th>Matcha-TTS</th>
					<th>VoiceFlow</th>

				  </tr>
  				<tr>
  					<td>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ048-0288-GT.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 2
							<source src="samples/ljspeech/0_LJ048-0288-Rap-Stage2-NS2-2.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 2
							<source src="samples/ljspeech/0_LJ048-0288-Rap-Improved-NS2-2.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 1
							<source src="samples/ljspeech/0_LJ048-0288-FS2-Re-1.wav">
						</audio>
					</td>
  					<td>
						<audio controls="" preload="none"> NFE - 2
							<source src="samples/ljspeech/0_LJ048-0288-Como-Student-2.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ048-0288-Grad-2000-2.wav">
						</audio> 
						<br>
						NFE - 25
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ048-0288-Grad-2000-25.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ048-0288-Matcha-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ048-0288-Matcha-10.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ048-0288-VF-Reflow-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ048-0288-VF-Reflow-10.wav">
						</audio>
					</td>
				  </tr>
				</tbody>
  </table>
  <br>	 
	  
  <h3><strong>2. Multi-speaker (VCTK) </h3>
  <hr>
	  
  <p><b>Text: </b><i>It's really no great surprise, because the price difference is so much.</i></p>
  <p><b>Speaker: </b><i>p225</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
					<th>Baseline</th>
					<th>RapFlow</th>
					<th>Proposed</th>

				  </tr>
  				<tr>
  					<td>
						<audio controls="" preload="none">
							<source src="samples/vctk/0_p225_033_mic1-GT.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/0_p225_033_mic1-Rap-Stage1-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/0_p225_033_mic1-Rap-Stage1-NS2-10.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/0_p225_033_mic1-Rap-Stage2-Base-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/0_p225_033_mic1-Rap-Stage2-Base-NS2-10.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/0_p225_033_mic1-Rap-Improved-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/0_p225_033_mic1-Rap-Improved-NS2-10.wav">
						</audio>
					</td>
				  </tr>
				</tbody>
  </table>
  <br>

  <p><b>Text: </b><i>This will take in dividend policy and capital structure.</i></p>
  <p><b>Speaker: </b><i>s5</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
					<th>Baseline</th>
					<th>RapFlow</th>
					<th>Proposed</th>

				  </tr>
  				<tr>
  					<td>
						<audio controls="" preload="none">
							<source src="samples/vctk/109_s5_187_mic1-GT.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/109_s5_187_mic1-Rap-Stage1-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/109_s5_187_mic1-Rap-Stage1-NS2-10.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/109_s5_187_mic1-Rap-Stage2-Base-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/109_s5_187_mic1-Rap-Stage2-Base-NS2-10.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/109_s5_187_mic1-Rap-Improved-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/109_s5_187_mic1-Rap-Improved-NS2-10.wav">
						</audio>
					</td>
				  </tr>
				</tbody>
  </table>
  <br>

  <p><b>Text: </b><i>When a man looks for something beyond his reach, his friends say he is looking for the pot of gold at the end of the rainbow.</i></p>
  <p><b>Speaker: </b><i>p248</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
					<th>Baseline</th>
					<th>RapFlow</th>
					<th>Proposed</th>

				  </tr>
  				<tr>
  					<td>
						<audio controls="" preload="none">
							<source src="samples/vctk/21_p248_011_mic1-GT.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/21_p248_011_mic1-Rap-Stage1-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/21_p248_011_mic1-Rap-Stage1-NS2-10.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/21_p248_011_mic1-Rap-Stage2-Base-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/21_p248_011_mic1-Rap-Stage2-Base-NS2-10.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/21_p248_011_mic1-Rap-Improved-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/21_p248_011_mic1-Rap-Improved-NS2-10.wav">
						</audio>
					</td>
				  </tr>
				</tbody>
  </table>
  <br>

  <p><b>Text: </b><i>The decision is an absolute disgrace.</i></p>
  <p><b>Speaker: </b><i>p299</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
					<th>Baseline</th>
					<th>RapFlow</th>
					<th>Proposed</th>

				  </tr>
  				<tr>
  					<td>
						<audio controls="" preload="none">
							<source src="samples/vctk/68_p299_066_mic1-GT.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/68_p299_066_mic1-Rap-Stage1-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/68_p299_066_mic1-Rap-Stage1-NS2-10.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/68_p299_066_mic1-Rap-Stage2-Base-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/68_p299_066_mic1-Rap-Stage2-Base-NS2-10.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/68_p299_066_mic1-Rap-Improved-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/68_p299_066_mic1-Rap-Improved-NS2-10.wav">
						</audio>
					</td>
				  </tr>
				</tbody>
  </table>
  <br>

  <p><b>Text: </b><i>The Government is keen to promote the growth of friendly societies.</i></p>
  <p><b>Speaker: </b><i>p232</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
					<th>Baseline</th>
					<th>RapFlow</th>
					<th>Proposed</th>

				  </tr>
  				<tr>
  					<td>
						<audio controls="" preload="none">
							<source src="samples/vctk/7_p232_293_mic1-GT.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/7_p232_293_mic1-Rap-Stage1-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/7_p232_293_mic1-Rap-Stage1-NS2-10.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/7_p232_293_mic1-Rap-Stage2-Base-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/7_p232_293_mic1-Rap-Stage2-Base-NS2-10.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/7_p232_293_mic1-Rap-Improved-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/7_p232_293_mic1-Rap-Improved-NS2-10.wav">
						</audio>
					</td>
				  </tr>
				</tbody>
  </table>
  <br>

  <p><b>Text: </b><i>He may be ready for first team action in March.</i></p>
  <p><b>Speaker: </b><i>p243</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
					<th>Baseline</th>
					<th>RapFlow</th>
					<th>Proposed</th>

				  </tr>
  				<tr>
  					<td>
						<audio controls="" preload="none">
							<source src="samples/vctk/16_p243_283_mic1-GT.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/16_p243_283_mic1-Rap-Stage1-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/16_p243_283_mic1-Rap-Stage1-NS2-10.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/16_p243_283_mic1-Rap-Stage2-Base-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/16_p243_283_mic1-Rap-Stage2-Base-NS2-10.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/16_p243_283_mic1-Rap-Improved-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/16_p243_283_mic1-Rap-Improved-NS2-10.wav">
						</audio>
					</td>
				  </tr>
				</tbody>
  </table>
  <br>

  <p><b>Text: </b><i>If that's the case, he will struggle.</i></p>
  <p><b>Speaker: </b><i>p256</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
					<th>Baseline</th>
					<th>RapFlow</th>
					<th>Proposed</th>

				  </tr>
  				<tr>
  					<td>
						<audio controls="" preload="none">
							<source src="samples/vctk/29_p256_175_mic1-GT.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/29_p256_175_mic1-Rap-Stage1-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/29_p256_175_mic1-Rap-Stage1-NS2-10.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/29_p256_175_mic1-Rap-Stage2-Base-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/29_p256_175_mic1-Rap-Stage2-Base-NS2-10.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/29_p256_175_mic1-Rap-Improved-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/29_p256_175_mic1-Rap-Improved-NS2-10.wav">
						</audio>
					</td>
				  </tr>
				</tbody>
  </table>
  <br>

  <p><b>Text: </b><i>It was an easy decision to come here.</i></p>
  <p><b>Speaker: </b><i>p279</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
					<th>Baseline</th>
					<th>RapFlow</th>
					<th>Proposed</th>

				  </tr>
  				<tr>
  					<td>
						<audio controls="" preload="none">
							<source src="samples/vctk/52_p279_270_mic1-GT.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/52_p279_270_mic1-Rap-Stage1-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/52_p279_270_mic1-Rap-Stage1-NS2-10.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/52_p279_270_mic1-Rap-Stage2-Base-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/52_p279_270_mic1-Rap-Stage2-Base-NS2-10.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/52_p279_270_mic1-Rap-Improved-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/vctk/52_p279_270_mic1-Rap-Improved-NS2-10.wav">
						</audio>
					</td>
				  </tr>
				</tbody>
  </table>
  <br>
	  
  <h3><strong>3. Additional samples on the LJSpeech dataset </h3>
  <hr>

  <p><b>Text: </b><i>The fire had not quite burnt out at twelve, in nearly four hours, that is to say.</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
					<th>Baseline</th>
					<th>RapFlow</th>
  					<th>Proposed</th>
				  </tr>
  				<tr>
  					<td>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ008-0085-GT.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ008-0085-Rap-Stage1-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ008-0085-Rap-Stage1-NS2-10.wav">
						</audio>
						<br>
						NFE - 25
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ008-0085-Rap-Stage1-NS2-25.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ008-0085-Rap-Stage2-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ008-0085-Rap-Stage2-NS2-10.wav">
						</audio>
						<br>
						NFE - 25
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ008-0085-Rap-Stage2-NS2-25.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ008-0085-Rap-Improved-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ008-0085-Rap-Improved-NS2-10.wav">
						</audio>
						<br>
						NFE - 25
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ008-0085-Rap-Improved-NS2-25.wav">
						</audio>
					</td>
				  </tr>
				</tbody>
  </table>
  <br>	 
	  
  <p><b>Text: </b><i>About this time Davidson and Gordon, the people above-mentioned,</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
					<th>Baseline</th>
					<th>RapFlow</th>
  					<th>Proposed</th>
				  </tr>
  				<tr>
  					<td>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ015-0005-GT.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ015-0005-Rap-Stage1-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ015-0005-Rap-Stage1-NS2-10.wav">
						</audio>
						<br>
						NFE - 25
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ015-0005-Rap-Stage1-NS2-25.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ015-0005-Rap-Stage2-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ015-0005-Rap-Stage2-NS2-10.wav">
						</audio>
						<br>
						NFE - 25
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ015-0005-Rap-Stage2-NS2-25.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ015-0005-Rap-Improved-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ015-0005-Rap-Improved-NS2-10.wav">
						</audio>
						<br>
						NFE - 25
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ015-0005-Rap-Improved-NS2-25.wav">
						</audio>
					</td>
				  </tr>
				</tbody>
  </table>
  <br>	 
	  
  <p><b>Text: </b><i>And in many directions, the intervention of that organized control which we call government.</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
					<th>Baseline</th>
					<th>RapFlow</th>
  					<th>Proposed</th>
				  </tr>
  				<tr>
  					<td>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ021-0025-GT.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ021-0025-Rap-Stage1-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ021-0025-Rap-Stage1-NS2-10.wav">
						</audio>
						<br>
						NFE - 25
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ021-0025-Rap-Stage1-NS2-25.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ021-0025-Rap-Stage2-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ021-0025-Rap-Stage2-NS2-10.wav">
						</audio>
						<br>
						NFE - 25
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ021-0025-Rap-Stage2-NS2-25.wav">
						</audio>
					</td>
  					<td> 
						NFE - 2
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ021-0025-Rap-Improved-NS2-2.wav">
						</audio> 
						<br>
						NFE - 10
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ021-0025-Rap-Improved-NS2-10.wav">
						</audio>
						<br>
						NFE - 25
						<br>
						<audio controls="" preload="none">
							<source src="samples/ljspeech/0_LJ021-0025-Rap-Improved-NS2-25.wav">
						</audio>
					</td>
				  </tr>
				</tbody>
  </table>
  <br>
  Thanks for your interest!
  </body>
  
</div>

